[*.cs]

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = none

# SYSLIB0023: Type or member is obsolete
dotnet_diagnostic.SYSLIB0023.severity = none
